
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    To jest Kuźnia Rewelacyjnych Deweloperów
    <br/>
    @Html.ActionLink("Tu są przepisy na piwo", "ShowAllRecipes")
    
</div>
</body>
</html>
