<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css"/>
    <script src="~/Scripts/jquery-1.10.2.js" language="javascript" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.js" language="javascript" type="text/javascript"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Kuźnia Rewelacyjnych Deweloperów</h1>
</div>

<div class="container">
    @RenderBody()
</div>
</body>
</html>
